body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px; rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    text-align: center;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background: #007bff;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #0056b3;
}

.list-section ul {
    list-style: none;
    padding: 0;
}

/*.list-section li {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    background: #f1f1f1;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.list-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 10px;
    font-weight: bold;
    background: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}*/

.list-header,
.list-section li {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 60px;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-radius: 5px;
}

.list-header {
    background: #007bff;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

.list-section li {
    background: #f1f1f1;
    margin-top: 10px;
}

.amount {
    font-weight: bold;
}

.delete-btn {
    background: red;
    color: white;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background: darkred;
}

select {
    padding: 10px;
    font-size: 16px;
}

.list-header span,
.list-section li span,
.list-section li button {
    text-align: center;
}

.list-header span:first-child,
.list-section li span:first-child {
    text-align: left;
}